.showlogout {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 20px;
  text-align: center;
  width: 40%;
  background-color: darkgray;
  padding: 20px;
  border-radius: 10px;
}
.hidelogout {
  display: none;
}
.SSS {
  opacity: 0.2;
}
.btn-light {
  background-color: transparent;
  border: none;
}
.col-sm-3 {
  padding-left: 0px;
  margin-top: 10px;
}
.col-sm-9 {
  margin-top: 10px;
  overflow-y: scroll;
}
.list-group-item {
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  background-color: rgba(162, 161, 187, 0.055);
}
.list-group-item:hover {
  background-color: rgb(121, 121, 129);
  color: greenyellow;
}
a:hover {
  color: black;
  text-decoration: none;
}
.btn-outline-success {
  display: none;
}

/*add.js*/
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}

ul.navbar li a:hover:not(.active) {
  background-color: brown;
}

ul.navbar .active {
  background-color: #4caf50;
}
ul.navbar li a:not(.active) {
  background-color: gray;
}
.er {
  border: 1px solid black;
  margin-top: 3px;
  padding: 10px 30px;
}
.homemessage {
  min-height: 70px;
}
.awaymessage {
  min-height: 70px;
}
.homemessage small {
  width: 50%;
  padding: 4px 1%;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.homemessage div.a2 {
  background-color: burlywood;
  color: red;
  width: 50%;
  padding: 4px 1%;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.awaymessage div.a2 {
  color: black;
  background-color: blueviolet;
  padding: 6px 1%;
  width: 40%;
  border-radius: 10px;
}

@media screen and (max-width: 660px) {
  .navbar-brand,
  #logoutbutton {
    display: none;
  }
  h1.font-weight-bolder {
    text-align: center;
  }
}
@media screen and (min-width: 576px) {
  #demo {
    display: block;
  }
  .btn-outline-success {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .btn-outline-success {
    display: block;
  }
}
