*{
    box-sizing: border-box;
}
input[type="text"],input[type="password"],input[type="submit"]
{
    font-size: 20px;
    width:40%;
    margin:0 auto 0 auto;
    padding:10px;
    border-radius: 14px;
}
input[type="submit"]
{
    font-size: 20px;
    width:40%;
    margin:0 auto 0 auto;
    padding:10px;
    background-color: green;
    border-radius: 14px;
}
input[type="submit"]:hover
{
    background-color: darkturquoise;
}
.span{
    height:660px;
    display:inline-block;
    width:100%;
    z-index:-1;
    position: absolute;
    left: 0px;
    top: 0px;
}
.container
{
    font-size: 20px;
    border-radius: 14px;
    width:70%;
    border:2px dotted red;
    background-color: transparent;
    margin:80px auto;
    padding:30px;
}
img{
    opacity:60%;
}
